<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<h1 style="font-family: 'LobsterRegular';font-weight: normal;font-style: normal;font-size: 80px;padding: 20px;" class="container">B<span style="color: blue">l</span><span style="color: green">o</span><span style="color: yellow">g</span><span style="color: red">s</span></h1>

<form class="form-inline" id="searchbar"  action="{% url 'blogsearch' %}" method="get">
                    <input name="q" class="form-control mr-sm-2 float-left" id="searchblog" type="search" placeholder="Search blog" aria-label="Search blog">
                    <button class="btn btn-outline-secondary float-left" type="submit" id="btn">Search</button>
                </form>

{% for abc in object_list  %}

<div class="container">
	
	<div class="col s12">
		<div class="card">
			<div class="card-header"><span style="font-size:30px;  padding-top: 20px; font-color:#5FECC4;">{{ abc.title }}</span></div>
			<div class="card-body">
				<p style="text-align: right;"><i><b>By: </b>{{ abc.writer }}<br><b>Published Date:</b>{{ abc.pub_date_pretty }}</i></p>
				{{ abc.body }}
				{% if  abc.inter == ' ' %}	
				<p><b>Be the first to show interest</b></p>
				{% else %}
				<p><b>Interested by {{abc.inter}} </b></p>
				{% endif %}
				<a href="{% url 'interest'  abc.id  %}"><button type="button" class="btn btn-primary" data-toggle="modal">
					Interest
				</button></a>
			</div>
		</div>
	</div>
</div>

<br>

{% endfor %}
<br>

<div class="container">

<a href="{% url 'create' %}" >click here</a>
to create a blog
<br>
<a href="{% url 'myblogs' %}">click here</a>
to view your blogs
</div>
<br>
