{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}


<style>
    #searchbar {
        float: right;
        width: max-content;
    }

    #searchforum {
        width: 32vw;
    }

    #left {
        padding: 20px;
        float: left;
        width: 52.5%;
        /* The width is 20%, by default */
    }

    #right {
        padding: 20px;
        margin-left: 5%;
        float: right;
        width: 42.5%;
        /* The width is 20%, by default */
    }

    #left1 {
        float: left;
        margin-left: 2%;
        width: 50%;
        /* The width is 20%, by default */
    }

    #right1 {
        padding-top: 0vx;
        margin-left: 6%;
        float: right;
        width: 40%;
        /* The width is 20%, by default */
    }

    #trending {
        padding: 20px;
        margin-left: 5%;
        float: right;
        padding-right: 0%;
        width: 43.8%;
    }

    /* Use a media query to add a break point at 800px: */
    @media screen and (max-width:800px) {
        #searchbar {
            margin-left: 0%;
            width: 100%;
        }

        #searchforum {
            width: 78%;
        }

        #btn {
            width: 20%;
            font-size: small;
        }

        #left,
        #right {
            width: 100%;
            /* The width is 100%, when the viewport is 800px or smaller */
            margin-left: 0%;
        }

        #left1 {
            width: 100%;
            /* The width is 100%, when the viewport is 800px or smaller */
            margin-left: 0%;
            margin-bottom: 5%;
        }

        #right1 {
            width: 100%;
            /* The width is 100%, when the viewport is 800px or smaller */
            margin-left: 0%;
        }

    }
</style>




<body class="text-center" style="background-image: url('/static/main-bg.jpg'); background-size: cover;" data-media-url="{% get_media_prefix %}">
    <nav class="navbar navbar-dark bg-dark" aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color:#343a40;">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'forum' %}">forum</a></li>
            <li class="breadcrumb-item active" aria-current="page">Forum Details</li>
        </ol>
    </nav>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">
            <h1>Forum Details</h1>
        </a>
    </nav>
    <div class="buttons">
        <div class="row" style="padding: 1vw;">
            <nav class="navbar navbar-light bg-light " id="left">
                <a class="navbar-brand pl-3">
                    <h3>Query</h3>
                </a>
            </nav>
            <nav class="navbar navbar-light bg-light mr-auto" id="right">
                <form class="form-inline" id="searchbar">
                    <input class="form-control mr-sm-2 float-left" id="searchforum" type="search"
                        placeholder="Search Forum" aria-label="Search Forum">
                    <button class="btn btn-outline-secondary float-left" type="submit" id="btn">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div id="left1">
                {% for data in model %}
                <div class="card border-light">
                    {% ifequal data.id forum_id %}
                    {{pic}}
                    {% if data.user.profile_pic == pic %}
                    <img src="">
                    {% endif %}

                    <div class="card-header"> user:{{data.user}} created_at:{{data.created_at}}</div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <div class="sub">subject:{{data.subject}}</div>
                        </h5>
                        <p class="card-text">
                            <div class="quer">query:{{data.query}}</div>
                        </p>
                        <h5 class="card-title">
                            comments:
                        </h5>
                        {% for comment in mode %}
                        {% if comment.forum|stringformat:"i" == data.subject|stringformat:"i" %}
                        <h5 class="card-title">
                            <div class="sub">{{comment.user}} says:</div>
                        </h5>
                        <p class="card-text">
                            <div class="quer">{{comment.desc}}</div>
                        </p>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endifequal %}
                </div>
                {% endfor %}
                <form method="POST">
                {% csrf_token %}
                <div class="comment-box">{{ form|crispy }}</div>
                <input type="submit" value="comment">
                </form>
            </div>

        <div id="right1">
            <div class="card border-light">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text left"></p>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="{% static 'forum.js' %}"></script>

</body>
{% endblock %}