<!-- Vertical navbar -->
{% load static %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<style>

  .vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }

  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }

  /* for toggle behavior */

  #sidebar.active {
    margin-left: -17rem;
  }

  #content.active {
    width: 100%;
    margin: 0;
  }

  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
    #checkbox{
      width:100%;
    }
  }
  body {
    background : linear-gradient(147deg, #757f9a 0%, #d7dde8 100%);
    min-height: 100vh;
    overflow-x: hidden;
    background-image : url("{% static 'forum-details.jpg' %}");
    background-repeat-y: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    background-blend-mode: multiply;
  }
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }

  .text-uppercase {
    letter-spacing: 0.1em;
  }

  .text-gray {
    color: #aaa;
  }

  .collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
}

.collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f106';
}

.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
.checked {
  color: orange;
}
</style>
</head>
<body>
  <div id="full">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="{% static 'main.js' %} "></script>
  <script src="https://kit.fontawesome.com/377fe889c9.js" crossorigin="anonymous"></script>
  {% for data in model %}
  {% ifequal data.id forum_id %}
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="{{ data.user.profile_pic.url }}" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">{{ data.user }}</h4>
        <p class="font-weight-light text-muted mb-0">Individual</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>

  <ul class="nav flex-column bg-white mb-0 list-group">
    <li class="list-group-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                User_Profile
            </a>
    </li>
    <li class="list-group-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                rating:
                <div>
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
            </a>
    </li>
    <li class="list-group-item">
      <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                Startsmart Home
            </a>
    </li>
    <li class="list-group-item">
            <ol class="breadcrumb shadow-sm pd-3" style="background-color:rgba(0,0,0,0)">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'forum' %}">Forum</a></li>
            </ol>
    </li>
  </ul>

</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
<div class="font-weight-bolder display-1 text-align-centre" style="padding-top:5vw;color:#F2F3F3;margin-left:15vw;">Forum Details</div>
  <!-- Demo content -->
  <div class="container"style="
    margin-top: 100.667;
">
    <div class="row shadow-md">
        <div class="col-lg-9 mx-auto">
            <!-- Accordion -->
            <div id="accordionExample" class="accordion shadow">
                <!-- Accordion item 1 -->
                <div class="card">
                    <div id="headingOne" class="card-header bg-white shadow-sm border-0">
                      <div class="text-success float-left">subject:{{data.subject}}</div>
                      <div class="text-muted float-right">created_at:{{data.created_at}}</div>
                    </div>
                    <div class="card-body p-5">
                        <p class="font-weight-light m-0"><div class="quer">query:{{data.query}}</div></p>
                    </div>
                </div><!-- End -->

                <!-- Accordion item 2 -->
                <div class="card">
                  <div class="card-header">
                        Comment:
                  </div>
                  <br>
                          <form method="POST">
                                {% csrf_token %}
                                <label for="text" class="sr-only">Comment:</label>
                                <div class="row">
                                <input type="text" id="cbox" class="form-control col-lg-10" name="desc" style="margin-right=5px;margin-left: 50px;">
                                <button type="submit" class="btn btn-light col-lg-1"><i class="fa fa-paper-plane" aria-hidden="true" style="padding-right: 20px;"></i></button>
                                </div>
                          </form>
                          <br>
                </div><!-- End -->

                <!-- Accordion item 3 -->
                <div class="card">
                    <div id="headingThree" class="card-header bg-white shadow-sm border-0">
                        <h2 class="mb-0">
                            <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="btn btn-link collapsed text-dark font-weight-bold text-uppercase collapsible-link">Comments</button>
                        </h2>
                    </div>
                    <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                        <div class="card-body p-5">
                          <ul class="list-group">
                      {% for comment in mode %}
                      {% if comment.forum|stringformat:"i" == comid|stringformat:"i" %}
                      <li class="list-group-item">
                          <a href="#" class="pull-left">
                              <img src="{{ comment.user.profile_pic.url }}"  alt="" class="img-fluid img-thumbnail rounded-circle" style="width:100px;height:100px;">
                          </a>
                          <div class="media-body">
                              <span class="text-muted pull-right">
                                  <small class="text-muted">{{comment.created_at}}</small>
                              </span>
                              <strong class="text-success" style="padding-left: 20px;">{{comment.user}}</strong>
                              <p style="padding-left: 120px;">
                                  {{comment.desc}}
                              </p>
                          </div>
                      </li>
                      {% endif %}
                      {% endfor %}
                      {% endifequal %}
                      {% endfor %}
                  </ul>
                        </div>
                    </div>
                </div><!-- End -->

            </div><!-- End -->
        </div>
    </div>
</div>
</div>
<script>
  $(function() {
  // Sidebar toggle behavior
  $('#sidebarCollapse').on('click', function() {
    $('#sidebar, #content').toggleClass('active');
  });
});
</script>
</div>
</body>
<!-- End demo content
