 {% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block body_block %}
<head>
    <style>
      header
      {
          width: 100%;
            height: 100vh;
            background: url({% static 'a10.jpg' %}) no-repeat 50% 50%;
            background-size: cover;
      }
        #searchbar {
            float: right;
            width: max-content;
        }

        #searchforum {
            width: 32vw;
        }

        #left {
            padding: 20px;
            float: left;
            width: 52.5%;
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
            /* The width is 20%, by default */
        }

        #right {
            padding: 20px;
            margin-left: 5%;
            float: right;
            width: 42.5%;
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
            /* The width is 20%, by default */
        }

        #left1 {
            float: left;
            margin-left: 2%;
            width: 50%;
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
            /* The width is 20%, by default */
        }

        #right1 {
            padding-top: 0vx;
            margin-left: 6%;
            float: right;
            width: 40%;

            /* The width is 20%, by default */
        }

        #trending {
            padding: 20px;
            margin-left: 5%;
            float: right;
            padding-right: 0%;
            width: 43.8%;
            style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
        }
        /* Use a media query to add a break point at 800px: */

        @media screen and (max-width:800px) {
            #searchbar {
                margin-left: 0%;
                width: 100%;
            }
            #searchforum {
                width: 78%;
            }
            #btn {
                width: 20%;
                font-size: small;
            }
            #left,
            #right {
                width: 100%;
                /* The width is 100%, when the viewport is 800px or smaller */
                margin-left: 0%;
            }
            #left1 {
                width: 100%;
                /* The width is 100%, when the viewport is 800px or smaller */
                margin-left: 0%;
                margin-bottom: 5%;
            }
            #right1 {
                width: 100%;
                /* The width is 100%, when the viewport is 800px or smaller */
                margin-left: 0%;
            }
        }
        .bg-cover {
    background-size: cover !important;
}
    </style>
    {% block forum %}FORUM{% endblock forum %}
</head>
<body class="text-center" style="background-image:url({% static 'forum-bg.jpg' %});background-size:100% 100%">
    <div class="buttons">
        <div class="row" style="padding: 1vw;">
            <nav class="navbar navbar-light bg-light " id="left">
                <a class="navbar-brand pl-3">
                    <h3>Threads</h3>
                </a>
                <a href=#><button class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal">Ask
                        Now</button></a>
            </nav>
            <nav class="navbar navbar-light bg-light mr-auto" id="right">
                <form class="form-inline" id="searchbar"  action="{% url 'forumsearch' %}" method="get">
                    <input name="q" class="form-control mr-sm-2 float-left" id="searchforum" type="search" placeholder="Search Forum" aria-label="Search Forum">
                    <button class="btn btn-outline-secondary float-left" type="submit" id="btn">Search</button>
                </form>
            </nav>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align: center;">Queries</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form method="POST" action="{% url 'forum' %}">
                    {% csrf_token %} {{ form|crispy }}
                    <!-- Modal footer -->
                    <input type="submit" value="ask">
                </form>

            </div>
        </div>
    </div>

    <div class="row">
        <div id="left1">
            {% for data in object_list %}
            <div class="card border-light" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="row">
                    <div class="col-lg-10 forum-body" style="padding-right: 0px;">
                        <div class="card-header">
                          <a href="#" class="pull-left">
                              <img src="{{ data.user.profile_pic.url }}"  alt="" class="img-fluid img-thumbnail rounded-circle" style="width:50px;height:50px;">
                          </a>
                          <strong class="text-success float-left" style="padding-left:1vw;padding-top:1vw;">{{data.user}}</strong>
                          <span class="text-muted pull-right">
                            <small class="text-muted">{{data.created_at}}</small>
                        </span>
                      </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="sub">subject:{{data.subject}}</div>
                            </h5>
                            <p class="card-text">
                                <div class="quer">query:{{data.query}}</div>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-2" style="padding-left: 1px;">
                        <ul class="list-group" style="padding-left: 0%;">
                            <li class="list-group-item list-group-item-action">
                                <i class="fa fa-comments-o" aria-hidden="true"></i>
                                <br> comments
                            </li>
                            <li class="list-group-item list-group-item-action">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <br> views
                            </li>
                            <a href="{% url 'forum_details_sp' forum_id=data.id %}">
                                <li class="list-group-item list-group-item-action">
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                    <br> Reply
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <br> {% endfor %}
        </div>

        <div id="right1">
            <div class="card border-light" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="card-header">Trending Discussions</div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text left"></p>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'forum.js' %}"></script>

</body>
{% endblock %}
