<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/icon type">
{% if not blog_list %}
<div class="container">
	<h1 style="font-family: 'LobsterRegular';font-weight: normal;font-style: normal;font-size: 80px;padding: 20px;" >No Blogs Yet</h1>

	<a href="{% url 'create' %}">click here</a>
	to create your blog
</div>
{% else %}
<h1 style="font-family: 'LobsterRegular';font-weight: normal;font-style: normal;font-size: 60px;padding: 20px;" class="container">All Blogs You Created</h1>
{% for abc in blog_list %}

<div class="container">
<div class="col s12 ">
	<div class="card">
		<div class="card-header"><span style="font-size:30px;  padding-top: 20px; font-color:#5FECC4;">{{ abc.title }}</span></div>
		<div class="card-body">
			<p style="text-align: right;"><i><b>By: </b>{{ abc.writer }}<br><b>Published Date:</b>{{ abc.pub_date_pretty }}</i></p>
			{{ abc.body }}
			{% if  abc.inter == ' ' %}	
			<p><b>None are interested in your blog</b></p>

			{% else %}
			<p><b>Interested by {{abc.inter}} </b></p>
			
			<div class="row">
				<a href="{% url 'likers' abc.id %}"><button type="button" class="btn btn-primary" >
					View your likers
				</button></a>
				{% endif %}

				<!-- Modal -->
				<!-- <button type="button" class="btn btn-primary btn-danger" data-toggle="modal" data-target="#exampleModalCenter" style="float: right;position: absolute; right: 5px;">
					Delete
				</button>
 -->
				<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLongTitle" style="color:black;">Are you sure you want to delete the blog?</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-secondary btn-danger" onclick="window.location.href = '{% url 'delete_blog' abc.id %}';">Yes</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <h2>{{ abc.title }}</h2>
	<p>{{ abc.body }}</p>
	
	posted on: {{ abc.pub_date_pretty }}
	<br>
	{% if  abc.inter == ' ' %}
		None are interested in your blog
	{% else %}
		Interested by {{abc.inter}} 
		<br>
		<a href="{% url 'likers' abc.id %}"> click here </a> to know profile of all people intrested in your blog
	{% endif %}
	<br> -->
	<div class="container">
		<br>
	<a href="{% url 'create' %}">click here</a> to create another blog
	<br>
	<a href="{% url 'delete_blog' abc.id %}" >click here</a> to delete the blog</div>
	<br>

	{% endfor %}

	{% endif %}

