{% load static %}
{% load crispy_forms_tags %}
<!-- Navbar-->
<head>
<style>
*
{
    overflow-x:hidden;
}
.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}
body {
    min-height: 100vh;
    background-image:url("{% static 'signup.jpg' %}");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}
.navbar {
    transition: all 0.4s;
    background-color:#F0FFFF;
}

.navbar .nav-link {
    color: black;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}



.navbar.active {
    background: black;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: black;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: black;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: black;
}



@media (max-width: 991.98px) {
    .navbar {
        background: black;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: white;
    }
}
</style>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" >

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-expand-lg fixed-top py-3" >
        <div class="container"><a href="{% url 'index' %}" class="navbar-brand text-uppercase font-weight-bold" style="color:black;">StartSmart</a>
            <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link scroll-link" href="{% url 'forum' %}">Forum <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="{% url 'finances' %}">Finances</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="#three">Networking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link scroll-link" href="#four">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
<body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="{% static 'main.js' %} "></script>
  <script src="https://kit.fontawesome.com/377fe889c9.js" crossorigin="anonymous"></script>
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1 style="overflow-y:hidden;color:white;">Create an Account</h1>
        </div>
        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto" style="margin-top:10%;">
            <form action="{% url 'register' %}" method="POST">
                <div class="row">

                    <!-- First Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="firstName" type="text" name="firstname" placeholder="First Name" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="lastName" type="text" name="lastname" placeholder="Last Name" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>
                        <select id="countryCode" name="countryCode" style="max-width: 80px" class="custom-select form-control bg-white border-left-0 border-md h-100 font-weight-bold text-muted">
                            <option value="">+91</option>
                        </select>
                        <input id="phoneNumber" type="tel" name="phone" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3">
                    </div>.


                    <!-- Job -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fas fa-toolbox"></i>
                            </span>
                        </div>
                        <select id="job" name="jobtitle" class="form-control custom-select bg-white border-left-0 border-md job">
                            <option value="">Choose your Title</option>
                            <option value="">Startup</option>
                            <option value="">Corporate</option>
                            <option value="">Individual</option>
                            <option value="">Mentor</option>
                        </select>
                    </div>
                    <div id="tbhidden">
                      <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-user text-muted"></i>
                              </span>
                          </div>
                          <input id="company" type="text" name="company" placeholder="Company" class="form-control bg-white border-left-0 border-md">
                      </div>
                      <div class="row p-3">
                      <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-user text-muted"></i>
                              </span>
                          </div>
                          <input id="headq" type="text" name="headq" placeholder="headquarters" class="form-control bg-white border-left-0 border-md">
                      </div>
                      <div class="input-group col-lg-6 mb-4">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-user text-muted"></i>
                              </span>
                          </div>
                          <input id="noemp" type="number" name="noemp" placeholder="No of Employees" class="form-control bg-white border-left-0 border-md">
                      </div>
                      </div>
                      <div class="input-group col-lg-12 mb-4">
                          <div class="input-group-prepend">
                              <span class="input-group-text bg-white px-4 border-md border-right-0">
                                  <i class="fa fa-user text-muted"></i>
                              </span>
                          </div>
                          <input id="sdesc" type="textarea" name="sdesc" placeholder="Short description" class="form-control bg-white border-left-0 border-md">
                      </div>
                    </div>
                    <p id="loc"></p>
                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="text" name="passwordConfirmation" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <a id="othsub" href="#" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold">Create your account</span>
                        </a>
                    </div>
                    <br>
                    <div id="stpsub" class="form-group col-lg-12 mx-auto mb-0">
                        <a href="#" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold">Create your account as a Startup</span>
                        </a>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-5 small text-muted font-weight-bold text-muted" style="padding-right:10px;">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold" style="color:white;">Already Registered? <a href="{% url 'user_login' %}" class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $(function () {
    $('input, select').on('focus', function () {
        $(this).parent().find('.input-group-text').css('border-color', '#80bdff');
    });
    $('input, select').on('blur', function () {
        $(this).parent().find('.input-group-text').css('border-color', '#ced4da');
    });
});
// $(function(){
//   $(".stup").click(function(){
//     $(".stbtn").show(1000);
//   });
//   $(".others").click(function(){
//     $(".otrbtn").hide(1000);
//   });
// });
// (function(){
//   $(".others").click(function(){
//     $(".stbtn").hide(1000);
//   });
// });
</script>
<script>
$( "#job" ).change(function () {
var selectedOption = $(this).find(":selected").text();
var st = "Startup";
console.log(selectedOption)
if (selectedOption !== st)
{
  $("#tbhidden").hide(1000);
  $("#stpsub").hide(1000);
  $("#othsub").show(1000)
}
else {
 $("#tbhidden").show(1000);
 $("#stpsub").show(1000);
 $("#othsub").hide(1000);
 $()
}
});
$(document).ready(function() {
   $('#tbhidden').hide();
   $("#stpsub").hide();
});
</script>
</body>
<!-- <body style="background-image: url('/static/background.jpg'); background-size: cover;">
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1 class="text-center">Register Here</h1>
        <h3 class="text-center">Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form|crispy }}
          {{ profile_form|crispy }}
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>
  </div>
  </body> -->
