{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block body_block %}
<body style="background-image: url('/static/background.jpg'); background-size: cover;">
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1 class="text-center">Register Here</h1>
        <h3 class="text-center">Just fill out the form.</h3>

        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form|crispy }}
          {{ profile_form|crispy }}
          <input type="submit" name="" value="Register">
        </form>

      {% endif %}

    </div>
  </div>
  </body>

{% endblock %}
